
/* Positioning */
.footer-left {
	text-align: left;
}

.footer-right {
	text-align: right;
}

#all-posts .post-author {
	line-height: 14pt;
	margin: 0;
}

.post-summary {
	padding: 7px 15px 7px 15px;
	margin: 7px 7px 7px 7px;
}

.post-summary-short {
	padding: 3px 15px 3px 15px;
	margin: 3px 7px 3px 7px;
}

.post-right-column {
	float: right;
	width: 420px;
}

.read-more {
	margin: 0px;
	padding: 0px;
}

.rss-box {
	margin-top: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 5px;
}

.post-author {
	float: left;
}

.post-date {
	float: right;
}

.post-thumbnail {
	float: left;
	padding: 15px;
	padding-top: 0px;
}

.short-line-height {
	line-height: 18pt;
}

/* Typography and decorations */
.post-title {
	font-weight: bold;
	margin-bottom: 0px;
	font-size: 20pt;
	letter-spacing: -1px;
}

.post-title a {
	text-decoration: none;
}

.post-title-link {
	list-style-type: none;
	margin-bottom: 10px;
}

.post-author {
	font-size: 10px;
	line-height: 14px;
}

.post-summary {
	font-size: 12pt;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.read-more a {
	text-decoration: none;
	border-bottom: 1px solid #cccccc;
}

.right-column {
	padding-left: 10px;
	border-left: 1px dotted #cccccc;
}

.header {
	font-size: 18pt;
	font-weight: bold;
	letter-spacing: -1px;
}

.header a {
	text-decoration: none;
}

.thumbnail {
	border: 0;
}

.poetry {
	font-size: 11pt;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-style: italic;
}

.post-body {
	font-size: 12pt;
}

.post-body h3 {
	font-size: 18pt;
}

/* Colours */
* {
	color: #444444;
}

h3 {
	color: #666666;
}

.woobius-brown {
	color: #b28653;
}

a {
	color: #b28653;
}

.header a {
	color: #666666;
}

.header a small {
	color: #999999;
}


.post-title a {
	color: #444444;
}

.post-title-link a {
	color: #444444;
}

.post-summary {
	background-color: #fafafa;
}

.read-more a {
	color: #444444;
}

.right-column a {
	color: #444444;
}

.rss-box {
	background-color: #fafafa;
}










